﻿<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="login(loginForm.value)" novalidate>
    <div class="form-group">
      <label for="userName">User Name:</label> <!--ngModel requires you to add a name property (see below:)-->
      <em *ngIf="loginForm.controls.userName?.invalid && (loginForm.controls.userName?.touched || mouseoverLogin)">Required</em>
      <input id="userName" name="userName" (ngModel)="userName" type="text" class="form-control" placeholder="User Name..." required />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <em *ngIf="loginForm.controls.password?.invalid && (loginForm.controls.password?.touched || mouseoverLogin)">Required</em>
      <input id="password" name="password" (ngModel)="password" type="password" class="form-control" placeholder="Password..." required />
    </div>
    <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
    </span>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
  <br/>
  <div *ngIf="loginInvalid" class="alert alert-danger">Invalid Login Info</div>
</div>