﻿<h1>Catz</h1>


<div class="row" *ngFor="let gender of catsByGender">
  <div class="col-xs-12">
    {{gender.gender}}
    <ul *ngFor="let name of gender.pets">
      <li>{{name}}</li>
    </ul>
  </div>

</div>