<form #newTestGridForm="ngForm" autocomplete="off" novalidate>
  <h1>Test Grid</h1>
  <hr>
  <div class="col-md-6">
    
    <ej-grid id="mygrid" #mygrid [allowPaging]="true" [pageSettings.pageSize]="pagesize" [allowSorting]="true" [dataSource]="gridData">
      <e-columns>
        <e-column field="OrderID" headerText="Order ID" width="75" textAlign="right"></e-column>
        <e-column field="CustomerID" headerText="Customer ID" width="80"></e-column>
        <e-column field="EmployeeID" headerText="Employee ID" width="75" textAlign="right"></e-column>
        <e-column field="Freight" width="75" format="{0:C}" textAlign="right"></e-column>
        <e-column field="OrderDate" headerText="Order Date" width="80" format="{0:MM/dd/yyyy}" textAlign="right"></e-column>
      </e-columns>
    </ej-grid>

    <!--<div id="mygrid"></div>-->

  </div>
</form>