<form #newTinyMceForm="ngForm" autocomplete="off" novalidate>
  <h1>TinyMCE</h1>
  <hr>
  <div class="col-md-5">
    <div id="tinymce" class="tinymce">
      <h2><img title="TinyMCE Logo" src="//www.tinymce.com/images/glyph-tinymce@2x.png" alt="TinyMCE Logo" width="110" height="97" style="float: right" />TinyMCE Inlite Theme</h2>

      <p>
        This is an example of the inlite theme that got introduced in TinyMCE 4.4 it allows you to edit contents using a distraction free inline toolbar. <br>- You can insert images and tables when the caret is placed inside an empty block. <br>- To invoke the tool bar just select any text.<br>- You can add or remove desired tool bar buttons via changing the parameters in insert_toolbar and selection_toolbar<br>- You can read more about Inlite Theme here https://www.tinymce.com/docs/themes/inlite/
      </p>
    </div>
  </div>
</form>