<form #newTestGridForm="ngForm" autocomplete="off" novalidate>
  <h1>Test Signal R</h1>
  <hr>
  <div class="col-md-5">
    <div class="row">
      <div class="col-xs-6"><span class="pull-right">Name:</span></div>
      <div class="col-xs-6"><input type="text" #name /></div>
      </div>
    <div class="row">
      <div class="col-xs-6"><span class="pull-right">Message:</span></div>
      <div class="col-xs-6"><input type="text" #message /></div>
      
    </div>
    <div class="row">
      <div class="col-xs-6"><input type="button" value="Send" class="pull-right" (click)="newMessage()" /></div>
    </div>
    <div>
      <ul>
        <li *ngFor="let chat of messages" >
          <span>{{chat}}</span>
        </li>
      </ul>
    </div>
  </div>
</form>