<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form autocomplete="off" novalidate [formGroup]="profileForm" (ngSubmit)="save(profileForm.value)">
      <div class="form-group" [ngClass]="{'error': !validateFirstName()}" >
        <label for="firstName">First Name:</label>
        <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.required">Required</em>
        <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.pattern">Must start with a letter</em>
        <input id="firstName" type="text" class="form-control" placeholder="First Name..." formControlName="firstName" />
      </div>
      <div class="form-group" [ngClass]="{'error': !validateLastName()}">
        <label for="lastName">Last Name:</label>
        <em *ngIf="!validateLastName()">Required</em>
        <input id="lastName" type="text" class="form-control" placeholder="Last Name..." formControlName="lastName" />
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>

      <button type="button" class="btn btn-warning" (click)="logout()" style="float:right">Logout</button>
    </form>
  </div>
</div>